
      <div class="container" id="faq-section" style="margin-bottom:0; padding-top:30px;">
          <!--<label class="result-data">Showing results</label> -->
          <h1 style="text-align:center;">The Different Types of Leaves in India</h1>
          <div style="height:50px;"></div>
          <div class="col-md-12 mpad0 faq-question">
            <p style="padding-left: 0; text-align:justify;">The employees of any government, non-government or private organization are entitled to certain types of leaves during their work tenures to help them maintain a proper work-life balance. Various studies have emphasized the importance of improving the balance between work and life balance in the daily life for both the employers and employees. It helps not only to ensure health and happiness for the people but also to help build productive businesses.</p>
            <p style="padding-left: 0; text-align:justify;">The employees can utilize various types of leaves to take time out for activities that are important to them including spending time with friends and family, taking part in sports and recreation, volunteering, or even undertaking further study among others. Let us have a look at the various types of leaves that employees can avail in India under different circumstances.</p>
          </div>
          <div class="col-md-8 mpad0 faq-question">
            <div class="faq-no">
              <label class="no">1</label>
            </div>
            <h2>Holidays</h2>
            <p style="text-align:justify;">These are the leaves that are always paid for and no deductions are made from the salary of the employees.</p>
            <p style=" padding-left:0; text-align:justify;"><strong>There are the following types of holidays in India:</strong></p>
            <div class="faq-ul-align">
              <ul>
                <li style="text-align:justify;"><strong>National Holidays : </strong>These are the fixed holidays that we have in India on the 26th of January, 15th of August, and 2nd of October every year.</li>
                <li style="text-align:justify;"><strong>Weekly Holidays : </strong>There are either one or two weekly holidays at the end of the week for all the employees depending upon the organizational policy.</li>
                <li style="text-align:justify;"><strong>Festivals : </strong>Various religious and regional festivals also account for holidays in India. There are very few festivals like Christmas, which fall on the same date every year. However, the exact dates of some festivals depend on the lunar calendar and are subject to change on the sighting of the moon. Each company can devise its own policy regarding how many festivals it will give a paid leave for, every year.</li>
              </ul>
            </div>
          </div>  
          <div class="col-md-4 mpad0 faq-question" style="padding-left:100px;">
            <img src="../assets/images/Perk-Payroll-Logo.png"/>
            <h4>Features</h4>
            <div class="faq-ul-align">
              <ul>
              <li><a href="/features.html#Personnel-Management">Personnel Management</a></li>
              <li><a href="/features.html#online-Payroll">Online Payroll</a></li>
              <li><a href="/features.html#Time-and-Attendance">Time & Attendance</a></li>
              <li><a href="/features.html#Employee-Self-Service">Employee Self Service</a></li>
              <li><a href="/features.html#Leave-Management">Leave Management</a></li>
              <li><a href="/features.html#Statutory-Compliance">Statutory Compliance</a></li>
              <li><a href="/features.html#Loan-Management">Loan Management</a></li>
              <li><a href="/features.html#Calenders">Calenders</a></li>
              <li><a href="/features.html#Announcements">Announcements</a></li>
              <li><a href="/features.html#Calenders">Calenders</a></li>
              <li><a href="/features.html#User-Management">User Management</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-6 mpad0 faq-question clear">
            <div class="faq-no">
              <label class="no">2</label>
            </div>
            <h2>Earned Leave or Privilege Leave</h2>
            <p style="text-align:justify;">The type of leave which the employees earn as they work for an organisation for a specified number of days. The privilege leave is sanctioned to the employees without any salary deductions. This type of leave requires prior approval from the employer except in cases of emergency. The employees are usually allowed to accumulate their privilege leaves and even encash them in case they are not availed. The number of privilege leaves admissible may vary on the basis of industry and region.</p>
          </div>
          <div class="col-md-6 mpad0 faq-question">
            <div class="faq-no">
              <label class="no">3</label>
            </div>
            <h2>Casual Leave</h2>
            <p style="text-align:justify;">The type of leave that is granted for short durations and can ordinarily be taken with prior information to the employer except in cases when informing the employer is not possible. Across industries and organizations, there are different rules for the number of days that casual leaves can be taken at a stretch varying between three to five to seven days. As a rule, official holidays are not counted when calculating the number of casual leaves if they fall during the period of casual leave.</p>
          </div>
          <div class="col-md-6 mpad0 faq-question">
            <div class="faq-no">
              <label class="no">4</label>
            </div>
            <h2>Sick Leave or Medical Leave</h2>
            <p style="text-align:justify;">An employee can call in sick if he is not in a state to come to office for work. Usually, an employee is entitled to sick leave only after a stipulated period of employment in an organization. The number of sick leaves permissible may vary from organization to organization and as a matter of fact, no prior intimation is required for availing this type of leave. A medical certificate from a registered medical practitioner may be required to testify the sickness if the sick leave is being extended for a long period of time.</p>
          </div>
          <div class="col-md-6 mpad0 faq-question">
            <div class="faq-no">
              <label class="no">5</label>
            </div>
            <h2>Maternity Leave</h2>
            <p style="text-align:justify;">This provision is especially available for those women employees who plan to have a baby. The duration of paid maternity leave is 26 months and this can be further extended with 16 months of unpaid leave. No deductions can be made from the leave account of the female employee. This type of leave can also be taken in case of miscarriage or abortion but the leave limit in such cases is shorter.</p>
          </div>
          <div class="col-md-6 mpad0 faq-question clear">
            <div class="faq-no">
            <label class="no">6</label>
          </div>
          <h2>Half Pay Leave</h2>
          <p style="text-align:justify;">Generally available to government servants only, this type of leave is credited to the leave account only after the completion of one year of service in the organization. As the name suggests, the employee is entitled to half of a day’s salary during such a leave.</p>
      <!--<div class="faq-ul-align">
        <ul>
          <li>Do you worry about installing any software ? No.</li>
          <li>Are you bothered how to take backups ? No.</li>
          <li>Do you spend time upgrading this software ? No.</li>
          <li>Do you have limitations of accessing your email anywhere anytime, on any device ? No.</li>
        </ul>
      </div>
      -->
          <p style="text-align:justify;">You will enjoy all the above benefits when you move to online payroll. Focus and spend time on running your payroll not on what runs your payroll.</p>
        </div>
        <div class="col-md-6 mpad0 faq-question" style="margin-bottom:0;">
          <div class="faq-no">
            <label class="no">7</label>
          </div>
          <h2>Quarantine Leave</h2>
          <p style="text-align:justify;">This type of leave is granted to an employee only if there is an infectious disease in the family or household of the employee that can be hazardous to the health of other people in the organization.</p>
        </div>
        <div class="col-md-6 mpad0 faq-question">
          <div class="faq-no">
            <label class="no">8</label>
          </div>
          <h2>Study Leave or Sabbatical Leave</h2>
          <p style="text-align:justify;">An employee may be granted a study or sabbatical leave to enable him to update his knowledge and experience in a way that he will be of greater use to the Institute after re-joining.</p>
          <!--<div class="faq-ul-align">
            <ul>
              <li>HTTPS – The application is accessed through 128 SSL (Secured Socket Layer) thus encrypting your data while on internet.</li>
              <li>Auto Locking – User account is automatically blocked if unsuccessful attempts limit is reached in specified duration.</li>
              <li>Session Timeout – No need to worry in case you forget to logout. You automatically log out if your login is idle for specified duration. <a href="http://brio.co.in/online-payroll/online-payroll-security/">Learn more on Perk Payroll security.</a></li>
            </ul>
          </div> -->
        </div>
        <div class="col-md-12 mpad0 faq-question">
          <p style="padding-left:0; text-align:justify;">Apart from the various leaves mentioned above, certain sectors and industries also have provisions for commuted leave, leave not due, paternity leave, extraordinary leave, childcare leave, hospital leave, special disability leave, and child adoption leave. The duration of all these types of leaves and the circumstances under which they become due are subject to specific company policies.</p>
        </div>
 