
    <div class="container" id="faq-section" style="margin-bottom:0;"> 
      <!--<label class="result-data">Showing results</label> -->
      <h1 style="text-align:center;">Understanding the payroll jargon</h1>
      <div style="height:50px;"></div>
      <div class="col-md-12 mpad0 faq-question">
        <p style="padding-left: 0; text-align:justify;">It is not necessary that employed people understand the complicated and confusing financial terminology related to their salaries. While salary is a form of periodic payment from an employer to an employee, net salary, gross salary and cost to company (CTC) are various payroll jargon that must be understood clearly. Let us try to understand these payroll terms in a simpler way.</p>
        <p style="padding-left: 0; text-align:justify;">Before we get to the technical aspects of the salary, let us understand the conditions under which a person is eligible for a salary from his employer. An individual who works part-time or full-time for a company or an individual under a contract of employment, whether oral or written, express or implied, is referred to as an employee.</p>
      </div>
      <div class="col-md-12 mpad0 faq-question">
        <p style="padding-left: 0; text-align:justify;">The person or the company, an individual works for is called employer and the money that he gets from the employer is known as Salary, Income or Wage. An employee’s salary may be specified in an employment contract, whether written or oral, and paid on a defined, regular period basis. On the other hand, piece wages, are paid on the basis of each job, hour or some other unit and are paid separately, rather than on a periodic basis.</p>
        <p style="padding-left: 0; text-align:justify;">However, in case a person has been hired by an organization on contract basis or works as a freelancer in some company, he cannot be said to earn a salary from his job. In this case, his income is classified as “income from business and profession”.</p>
      </div>
      <div class="col-md-12 mpad0 faq-question">
        <p style="padding-left: 0; text-align:justify;">We shall explain various terms related to a salary so that the employees are able to figure out their in-hand salary and not be let down on their CTC/year expectations. Let us first understand the different types of salary:</p>
        <p style="padding-left: 0; text-align:justify;"><strong>What is CTC or Cost to Company?:</strong> The term should never be confused with the total in-hand annual salary of an employee. CTC or Cost to Company is a term that companies use to calculate the total cost to employ a person. It includes all the costs associated with an employment contract and comprises of all compulsory deductibles including deductions for provident fund, medical insurance etc.</p>
        <p style="padding-left: 0; text-align:justify;">It should be clearly understood that while these deductibles form a part of your compensation structure, you do not get them as a part of in-hand salary. In other words, deductibles increase your CTC but do not contribute to your net salary.</p>
      </div>
      <div class="col-md-12 mpad0 faq-question" style="padding-left:5%;">
        <div class="faq-ul-align">
          <ul>
            <li><strong>What is Gross Salary:</strong> This is the amount of salary accrued after adding all benefits and allowances and before making deductions for tax.</li>
            <li><strong>What is Net Salary:</strong> Net salary is gross salary minus the deductions for tax. Or in other words, it is what is left of your salary after deductions have been made.</li>
            <li><strong>What is Take Home Salary:</strong> Also called the in-hand salary, this is usually equal to the Net Salary except for those cases where an employee has some personal deductions like loan or bond re-payments.</li>
          </ul>
          <p style="padding-left: 0; text-align:justify;">Let us now understand different components of a salary in detail. The “salary” must ideally consist of the following parts:</p>
          <ul>
            <li><strong>What is Basic Salary:</strong> It forms the fixed part of an employee’s compensation structure and is the main portion of his salary. As the name suggests, this forms the very basis of a salary, based upon which, many components of a salary will be calculated. A high basis salary usually implies that the employee occupies a high grade in the organization that he is working for, be it a private or a government organization.</li>
            <li><strong>What are Allowance:</strong> This is the amount received over and above the basis salary in the form of allowances such as Dearness Allowance (DA), House Rent Allowance (HRA), Leave Travel Assistance (LTA) , Lunch Allowance, Conveyance Allowance , Children’s Education Allowance, and City compensatory Allowance. These allowances are usually a fixed percentage of the basic salary and can be fully taxable, taxable in parts, or totally exempt from taxes. This amount is received by an individual in addition to salary to meet some service requirements.</li>
            <li><strong>What are Perquisite:</strong> These form a part of the benefits or amenities granted by an employer to his employee. For example: Rent free unfurnished house, Rent free furnished house, Motor car facility, Reimbursement of Gas, Electricity & Water, Club facility, Domestic Servant Facility, Interest Subsidy on Loan, Reimbursement of medical bills, Reimbursement of telephone bills, Benefits derived by employee stock options, and so on. These benefits may be restricted to a limit, which is defined on the basis of employee’s rank or basic salary.</li>
          </ul>
          <p style="padding-left: 0; text-align:justify;">It is interesting to note that perquisites cannot be taxed directly because these are non-cash components. According to the income tax laws, a certain value is assigned to each of these components so that a tax can be imposed on them. As a thumb rule, only those benefits that you use for personal purpose are considered as perquisites.</p>
          <ul>
            <li>
              <strong>What are Deductions:</strong> In contrast to the allowances, deductions are subtracted from the salary of the employees. These can be of two types:
              <ul style="padding-left:3%;">
                <li><strong>What are Compulsory deductions:</strong> Deductions for Provident Fund, Income tax, Professional Tax (where applicable) can be clubbed under this category.</li>
                <li><strong>What are Optional deductions</strong>: These include recovery for advance or loan if applicable, and voluntary contribution to Provident Fund etc.</li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-12 mpad0 faq-question">
        <p style="padding-left: 0; text-align:justify;">It should be noted that there are two aspects of Provident Fund Contribution. Apart from the employee’s contribution, an employer also contributes to his provident fund. This is usually 12 percent of the basic salary and is directly deposited in an employee’s Provident Fund (PF) account. This contribution is only paid out to an employee when he retires or resigns. However, the employee’s contribution to PF is deducted from his monthly salary and deposited in his PF account. This amount can also be reimbursed in cases of need.</p>
        <p style="padding-left: 0; text-align:justify;">So we see that the Cost to the company is the sum of Gross salary and the Benefits that an employee receives from the employer in the form of medical insurance, provident fund, laptop and so on. However, the net salary is only calculated after deductions for taxes and recovery for loans have been made.</p>
        <p style="padding-left: 0; text-align:justify;">The applicable taxes are calculated depending upon the taxation policies of the government and some policies that may differ for each organization.</p>
        <div class="col-md-12 mpad0 faq-question" style="padding-left:5%;">
          <ul>
            <li>
              <strong>What is Pay Slip:</strong> This is a formal document of how much money an employee has earned and how much tax or insurance has been deducted. It comprises of a detail the gross income and all taxes and any other deductions such as retirement plan or pension contributions, insurances, garnishments, or charitable contributions taken out of the gross amount to arrive at the final net amount of the pay or the in-hand pay.
            </li>
            <li>
              <strong>What Form 16:</strong> There is a provision of Tax Deduction at Source (TDS) wherein an employer deducts taxes for all salaried employees of the organization at source. In such cases, the company must issue a Form 16 issued under section 203 of Income Tax Act (India) for Tax, which contains the details about the salary earned by that employee and how much tax is deducted. This tax is paid to government of India directly by the company and Form 16 is the proof of employee’s income and tax paid to the government.
            </li>
          </ul>
        </div>
        <p style="padding-left: 0; text-align: justify;">This article to explain the terminology of <a title="Perk Payroll" href="https://www.perkpayroll.com/" target="_blank">payroll</a> is a part of <a title="Brio Technologies Pvt Ltd" href="http://www.brio.co.in" target="_blank">Brio’s</a> endeavor to create awareness and dispel ambiguity among the working professionals regarding their understanding of salary and the different components of the salary slip.</p>
      </div>
    </div>
